/*! Styling for index.html for juliawxu.github.io */

h1 { 
  font-size: 5em;
  font-weight: bold;
  font-family: "Calibri", Helvetica, sans-serif;
}

h2 {
  font-family: "Calibri", Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  font-family: "Calibri", Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover: {
  background-color: #d3d3d3;
}

#banner {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#banner-name {
  text-align: center;
  color: white;
  position: absolute;
  top: 100px;
  left: 0; 
  width: 100%;
  font-size: 5em;
  font-weight: bold;
  font-family: "Calibri", Helvetica, sans-serif;
}

#banner-text {
  text-align: center;
  color: white;
  position: absolute;
  top: 150px;
  width: 100%;
  font-size: 1em;
  font-family: "Calibri", Helvetica, sans-serif;
}
