/*! Styling for index.html for juliawxu.github.io */

h1 {
  font-size: 5em;
  font-weight: bold;
  font-family: "Calibri", Helvetica, sans-serif;
}

h2 {
  font-family: "Calibri", Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: AntiqueWhite
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  font-family: "Calibri", Helvetica, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover: {
  background-color: #d3d3d3;
}
    
#banner {
  background-color: lightgreen;
  margin: 20px 0 20px 0;
  padding: 20px;
}

#banner-text {
  text-align: center;
}
