/*! Styling for index.html for juliawxu.github.io */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  font: Calibri;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d3d3d3;
}

.active {
  background-color: #d3d3d3;
}
    
